.hover-popup-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.hover-popup-wrapper b {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
}

.hover-popup {
  position: absolute;
  top: 100%;
  left: 0;
  width: max-content;
  max-width: 20rem;
  background-color: #f0f0f0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

@media (max-width: 768px) {
  .hover-popup {
    width: max-content;
    max-width: 10rem;
  }
}