.likes {
  display: inline-block;
  border-radius: 5px;
  background: #ffffff91;
  padding: 5px;
  margin-top: 0.5rem;
  box-sizing: content-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.likes span {
  display: inline-block;
  vertical-align: middle;
}

.likes svg {
  vertical-align: middle;
  margin-right: 0.5rem;
}

.like-user {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: #1C274C;
  padding: 3px;
}

.like-user:hover {
  background-color: #1c274c23;
  border-radius: 5px;
}

.like-user__content {
  display: inline-block;
  vertical-align: middle;
  height: min-content;
}

.like-user__content span {
  vertical-align: middle;
}

.like-user img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.3rem;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .likes {
    font-size: 14px;
    padding: 1px;
  }

  .likes span {
    height: 24px;
  }

  .likes svg {
    margin-right: 0;
    margin-left: 3px;
  }

  .like-user {
    margin-right: 0;
  }

  .like-user img {
    width: 20px;
    height: 20px;
    margin-right: 0.3rem;
  }

  .likes svg {
    width: 20px;
    height: 20px;
  }
}