.music-item {
  margin: 1rem 0;
}

.music-item__content {
  display: flex;
  flex-direction: column;
}

.music-item__info {
  display: flex;
}

.music-item__description {
  border-radius: 5px;
  background: #e0e0e0;
  padding: 0.5rem;
}

.music-item__image {
  width: 40%;
  aspect-ratio: 1 / 1;
  margin-right: 3%;

}

.music-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.music-item__info h2,
.music-item__info h3,
.music-item__info p {
  margin: 0 0 0.5rem 0;
}

.music-item__actions {
  display: flex;
  height: 3rem;
  margin-top: 0.5rem;
  border-top: 1px solid #ccc;
  background: rgb(239, 225, 244);
  background: linear-gradient(326deg, rgba(239, 225, 244, 1) 0%, rgba(202, 231, 240, 1) 100%);
  text-align: center;
  justify-content: space-around;
}

.music-item__modal-content {
  padding: 0;
}

.music-item__modal-actions {
  text-align: right;
}

.music-item__actions button,
.music-item__actions a {
  margin: 0;
  border-color: #ffff;
  border-radius: 0;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  display: block;
}

@media (min-width: 768px) {}